<div class="container margin-top-negative">
  <div class="row">
    <div class="list-show-card">
      <h2><%= @list.name %></h2>
      <%= link_to "add movie", new_list_bookmark_path(@list) %>
    </div>
    <div class="list-show-card">
      <div class="flex">
      </div>
    </div>
  </div>
</div>
